*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-image: url("https://images.unsplash.com/photo-1622976480033-d7458ff18425?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&q=80://images.unsplash.com/photo-1507090960745-b32f65d3113a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGFya3xlbnwwfDB8MHx8&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin: 20px;
    font-style: italic;
}

.input .input-1{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.input .input-1 input{
    width: 200px;
    height: 20px;
    margin: 0 10px;
    padding: 5px;
    border-radius: 100px;
    border-color:  aliceblue;
    background: transparent;
    color: white;
}

.input .input-2{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.input .input-2 button{
    border-radius: 20px;
    width: 70px;
    height: 30px;
    margin: 5px 10px;
    background-color: transparent;
    color: white;
}

.output{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.output textarea{
    margin-bottom: 90px;
}

textarea{
    padding: 25px;
    background-color: transparent;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    border-color:  aliceblue;
    margin-bottom: 15px;
    
}
input::placeholder ,textarea::placeholder{
    color: white;
}

textarea::placeholder{
  font-size: 1.5rem;
}